<html>
	<head>
		<meta charset="utf-8" />
		<script type="text/javascript" src="../js/angular-three.dependencies.js"></script>
		<script type="text/javascript" src="../js/angular-three.js"></script>
		<script type="text/javascript">
			var app = angular.module('simple-scene', ['angularThree']);
			
			app.controller('controller', function($scope, $document, $three, $scene) {
				$scope.width = 1024;
				$scope.height = 768;
				$scope.lightColor = [0xFFFFFF];
				$scope.lightPosition = {
					x: 10,
					y: 20,
					z: 100
				};
				$scope.material = new THREE.MeshPhongMaterial();
				$scope.geometry = new THREE.SphereGeometry(50, 16, 16);
				$scope.setTexture = function() {
					if ($scope.material && $scope.material.map != null) {
						return false;
					}
					if ($scope.texture) {
						$scope.material.color.setHex(0xFFFFFF);
						$scope.material.needsUpdate = true;
						$scope.material.map = $scope.texture;
					} else {
						// CORS resolution as anonymous to avoid cross-domain origin conflicts.
						THREE.TextureLoader.prototype.crossOrigin = 'anonymous';
						var earthImgUrl = "http://localhost:8080/ramm/earth.jpg";
						var texloader = new THREE.TextureLoader();
						// Load the texture.
						texloader.load(earthImgUrl, function(data) {
							// Texture ready.
							$scope.texture = data;
							$scope.texture.needsUpdate = true;
							$scope.material.color.setHex(0xFFFFFF);
							$scope.material.needsUpdate = true;
							$scope.material.map = $scope.texture;
						});
					}
					return true;
				};
				$scope.addRotation = function() {
					$scene.addUpdate(function() {
						$scope.sphere.rotation.y += 0.01;
					});
				};
				$scope.setColor = function() {
					$scope.material.map = null;
					$scope.material.color.setHex(0xDD0000);
					$scope.material.needsUpdate = true;
				}
				// Démarrage de l'application ThreeJS.
				$three.initialize(function() {
					$scope.sphere = new THREE.Mesh($scope.geometry, $scope.material);
					$scene.addObject($scope.sphere);
				});
			});
		</script>
		<title>Sample Three.js</title>
	</head>
	<body ng-app="simple-scene" ng-controller="controller">
		<three-canvas></three-canvas>
		<three-renderer type="webgl" td-size="[{{width}}, {{height}}]">
			<three-scene>
				<three-camera type="perspective" parameters="[45, {{width/height}}, 0.1, 10000]" td-position='{"x":0, "y":0, "z":300}'></three-camera>
				<three-light type="point" parameters="{{lightColor}}" td-position="{{lightPosition}}"></three-light>
			</three-scene>
		</three-renderer>
		<button ng-click="setTexture() || setColor()">Switch Texture/Color</button>
		<button ng-click="addRotation()">Add Rotation</button>
		<button ng-click="lightPosition.x = lightPosition.x + 20;">INCR X</button>
		<button ng-click="lightPosition.x = lightPosition.x - 20;">DECR X</button>
	</body>
</html>