<html>
	<head>
		<meta charset="utf-8" />
		<script type="text/javascript" src="../js/angular-three.dependencies.js"></script>
		<script type="text/javascript" src="../js/angular-three.js"></script>
		<script type="text/javascript">
			var app = angular.module('simple-scene', ['angularThree']);
			
			app.controller('controller', function($scope, $document, $three, $scene) {
				$scope.width = 1024;
				$scope.height = 768;
				$scope.lightColor = [0xFFFFFF];
				$scope.lightPosition = {
					x: 10,
					y: 20,
					z: 100
				};
				$scope.sphereRotation = true;
				$scope.$watch('sphereRotation', function(newValue) {
					$scope.sphereData.updates[0].active = newValue;
				});
				$scope.rotateSphere = function() {
					$scope.sphereObject.mesh.rotation.y += 0.01;
				};
				$scope.sphereObject = {
					material: new THREE.MeshPhongMaterial({color: 0x0000DD}),
					geometry: new THREE.SphereGeometry(50, 16, 16),
				};
				$scope.sphereObject.mesh = new THREE.Mesh(
						$scope.sphereObject.geometry,
						$scope.sphereObject.material);
				$scope.sphereData = {
					active: true,
					name: 'Sphere',
					objects: [$scope.sphereObject],
					updates: [{
						active: $scope.sphereRotation,
						callback: $scope.rotateSphere,
					}],
				};
				$scope.setTexture = function() {
					if ($scope.sphereObject.material && $scope.sphereObject.material.map != null) {
						return false;
					}
					if ($scope.texture) {
						$scope.sphereObject.material.color.setHex(0xFFFFFF);
						$scope.sphereObject.material.needsUpdate = true;
						$scope.sphereObject.material.map = $scope.texture;
					} else {
						// CORS resolution as anonymous to avoid cross-domain origin conflicts.
						THREE.TextureLoader.prototype.crossOrigin = 'anonymous';
						var earthImgUrl = "http://localhost:8080/ramm/earth.jpg";
						var texloader = new THREE.TextureLoader();
						// Load the texture.
						texloader.load(earthImgUrl, function(data) {
							// Texture ready.
							$scope.texture = data;
							$scope.texture.needsUpdate = true;
							$scope.sphereObject.material.color.setHex(0xFFFFFF);
							$scope.sphereObject.material.needsUpdate = true;
							$scope.sphereObject.material.map = $scope.texture;
						});
					}
					return true;
				};
				$scope.addRotation = function() {
					$scene.addGlobalUpdate($scope.rotateSphere);
				};
				$scope.setColor = function() {
					$scope.sphereObject.material.map = null;
					$scope.sphereObject.material.color.setHex(0xDD0000);
					$scope.sphereObject.material.needsUpdate = true;
				}
				// Démarrage de l'application ThreeJS.
				$three.initialize(function() {
					
				});
			});
		</script>
		<title>Sample Three.js</title>
	</head>
	<body ng-app="simple-scene" ng-controller="controller">
		<three-canvas></three-canvas>
		<three-renderer type="webgl" td-size="[{{width}}, {{height}}]">
			<three-scene>
				<three-camera type="perspective" parameters="[45, {{width/height}}, 0.1, 10000]" td-position='{"x":0, "y":0, "z":300}'></three-camera>
				<three-light type="point" parameters="{{lightColor}}" td-position="{{lightPosition}}"></three-light>
				<three-mesh name="StaticSphere" mesh-position='{"x":80, "y":0, "z":0}'>
					<three-geometry type="SphereGeometry" parameters="[50, 16, 16]"></three-geometry>
					<three-material type="MeshPhongMaterial" parameters="{color: 56576}">
						<three-texture src=""></three-texture>
					</three-material>
				</three-mesh>
				<three-mesh name="DynamicSphere" td-mesh="sphereObject.mesh"
					mesh-position='{"x":-80, "y":0, "z":0}'></three-mesh>
			</three-scene>
		</three-renderer>
		<div>
			<button ng-click="setTexture() || setColor()">Switch Texture/Color</button>
			<button ng-click="addRotation()">Add Rotation</button>
			<input type="checkbox" ng-model="sphereRotation"></input>Inner rotation
		</div>
		<div>
			<button ng-click="lightPosition.x = lightPosition.x + 20;">INCR X</button>
			<button ng-click="lightPosition.x = lightPosition.x - 20;">DECR X</button>
		</div>
	</body>
</html>